<h1 style="margin-top: 10px;  text-align:center;">OTHER EXPENSE</h1>
<!-- Button trigger modal -->
<div class="input-group searchkey col-md-7" style="margin-left:67%;max-width:30%"  >

  <input placeholder="From Date" style=" max-width:50% " onfocus="(this.type='date')" type="text" class="form-control" onblur="(this.type='text')"  [(ngModel)]="srt"  >
  <input placeholder="To Date" style=" max-width:50%"  onfocus="(this.type='date')" type="text"class="form-control"  onblur="(this.type='text')"  [(ngModel)]="end"  >
  <button type="submit"   mat-raised-button color="primary" (click)=" getOtherData()">
    X
</button>
  <button type="submit"  mat-raised-button color="primary"  (click)="srch();">
    <mat-icon>search</mat-icon>
  </button>
  <button   (click)="open(add);subbtn();this.expenseForm.reset();" mat-raised-button color="primary"><mat-icon style="padding-right: 10px;" >add_circle </mat-icon>Add</button>
 </div>
<table >
  <thead>
   <tr>
     <th>ID</th>
     <th > date</th>
     <th > Particulars</th>
     <th>Bill No</th>
     <th >Amount</th>
     <th>Tax</th>
     <th>Options</th>
   </tr>
   <tr *ngFor="let element of OtherData;let i=index;" >
       <td>{{(i+1)}}</td>
       <td >{{element.date| date : 'dd-MM-yyyy'}}</td>
       <td style="max-width:200px">{{element.parts}}</td>
       <td>{{element.bill}}</td>
       <td >{{element.amount}}</td>
       <td>{{element.tax}}</td>
       <td>  <button   mat-icon-button style="margin-right: 10px;backface-visibility: hidden;"  (click)="open(add);editOther(element._id);updatebtn()"> <mat-icon>edit</mat-icon></button>
        <button  mat-icon-button   (click)="deleteOther(element._id)">
          <mat-icon>delete</mat-icon></button></td>
  </tr>
 </thead>
</table>

<ng-template #add let-modal>
  <form class="form-horizontal" [formGroup]="expenseForm" novalidate>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Details</h4>
      <button type="button"  style="border:0px;background-color: #fff;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <div class="col-md-4">
              <label class="col-form-label" >Particulars *</label>
              <input class="form-control" type="text" placeholder="parts" formControlName="parts" [ngClass]="{ 'is-invalid': expenseFormSubmitted && n.parts.errors}">
              <div *ngIf="expenseFormSubmitted && n.parts.errors" class="invalid-feedback">
               <div *ngIf="n.parts.errors.required">parts is required</div>
               </div>
            </div>
            <div class="col-md-4">
              <label class="col-form-label" >Bill *</label>
              <input    type="text"  class="form-control" placeholder="Bill NO" formControlName="bill" [ngClass]="{ 'is-invalid': expenseFormSubmitted && n.bill.errors}">
              <div *ngIf="expenseFormSubmitted && n.bill.errors" class="invalid-feedback">
               <div *ngIf="n.bill.errors.required">BIll NO is required</div>
               </div>
           </div>
        </div>

            <div class="form-group row">
              <div class="col-md-4">
                <label class="col-form-label" >Amount *</label>
                <input    type="text"  class="form-control" name="amount"placeholder="Amount" formControlName="amount" [ngClass]="{ 'is-invalid': expenseFormSubmitted && n.amount.errors}">
                <div *ngIf="expenseFormSubmitted && n.amount.errors" class="invalid-feedback">
                 <div *ngIf="n.amount.errors.required">amount is required</div>
                 </div>
             </div>
             <div class="col-md-4">
              <label class="col-form-label" >Tax *</label>
              <input class="form-control" type="number"  placeholder="Tax" formControlName="tax" [ngClass]="{ 'is-invalid': expenseFormSubmitted && n.tax.errors}">
              <div *ngIf="expenseFormSubmitted && n.tax.errors" class="invalid-feedback">
               <div *ngIf="n.tax.errors.required">Tax is required</div>
               </div>
            </div>
         
                <div class="col-md-4">
                  <label class="col-form-label" >Date *</label>
                  <input class="form-control" type="date"   name="date"placeholder="Date" formControlName="date" [ngClass]="{ 'is-invalid': expenseFormSubmitted && n.date.errors}">
                  <div *ngIf="expenseFormSubmitted && n.date.errors" class="invalid-feedback">
                   <div *ngIf="n.date.errors.required">Date is required</div>
                   </div>
                </div>
                </div>
                <div class="modal-footer">
                  <button  mat-raised-button   style="background-color:#d1dfd4fb;margin-right: 10px;"  (click)="modal.dismiss('Cross click');initialiseForm()">Cancel</button>
                  <button  *ngIf="sub"  mat-raised-button color="primary"  type="submit" (click)="saveOrSubmitexpenseForm(modal);" >Submit</button>
                  <button  *ngIf="update"  mat-raised-button color="primary"  type="submit" (click)="updateOther(modal);" >Update</button>
                </div>
          </div>

          </form>
          </ng-template>

<dialog  class=" delete"id="delete">
<h4> Delete The Selected Data?</h4>
<button  mat-raised-button color="warn"  onclick="window.delete.close();" style="margin-right: 10px;">Yes</button>
<button  mat-raised-button color="primary" onclick="window.delete.close();">Cancel</button>

