
<!-- Button trigger modal -->
<mat-tab-group class="main" >
  <mat-tab label=" 95mm">
    <div class="input-group searchkey col-md-7" style="margin-left:35px;max-width:95%"  >
      <h4 >Run Time:<mark>{{f1Time}}</mark></h4>
      <input  placeholder="From Date" style=" max-width:50%;margin-left:40% " onfocus="(this.type='date')" type="text" class="form-control" onblur="(this.type='text')"  [(ngModel)]="srt"  >
      <input placeholder="To Date" style=" max-width:50%"  onfocus="(this.type='date')" type="text"class="form-control"  onblur="(this.type='text')"  [(ngModel)]="end"  >
      <button type="submit"   mat-raised-button color="primary" >
        X
    </button>
      <button type="submit"  mat-raised-button color="primary" (click)=" getMeachinepartsData1()"  >
        <mat-icon>search</mat-icon>
      </button>
      <button  (click)="open(add);subbtn();"   mat-raised-button color="primary"><mat-icon style="padding-right: 10px;" >add_circle </mat-icon>Add</button>
     </div>
<table >
 <thead>
   <tr>
     <th>Slno</th>
     <th>Date</th>
     <th>Run Time</th>
     <th>Options</th>
   </tr>
   <tr *ngFor="let element of mpData;let i=index;" >
       <td>{{(i+1)}}</td>
       <td >{{element.date}}</td>
       <td >{{element.time}}</td>
       <td>  <button   mat-icon-button style="margin-right: 10px;backface-visibility: hidden;"  (click)="open(add);editMeachineparts(element._id);updatebtn()"> <mat-icon>edit</mat-icon></button>
        <button  mat-icon-button   (click)="deleteMeachineparts(element._id)">
          <mat-icon>delete</mat-icon></button></td>
  </tr>
 </thead>
</table>

</mat-tab>
<mat-tab label="65mm">
  <div class="input-group searchkey col-md-7" style="margin-left:35px;max-width:95%"  >
    <h4 >Run Time:<mark>{{f2Time}}</mark></h4>
    <input  placeholder="From Date" style=" max-width:50%;margin-left:40% " onfocus="(this.type='date')" type="text" class="form-control" onblur="(this.type='text')"  [(ngModel)]="srt"  >
    <input placeholder="To Date" style=" max-width:50%"  onfocus="(this.type='date')" type="text"class="form-control"  onblur="(this.type='text')"  [(ngModel)]="end"  >
    <button type="submit"   mat-raised-button color="primary" >
      X
  </button>
    <button type="submit"  mat-raised-button color="primary" (click)=" getMeachinepartsData1()" >
      <mat-icon>search</mat-icon>
    </button>
    <button  (click)="open(add);subbtn();"   mat-raised-button color="primary"><mat-icon style="padding-right: 10px;" >add_circle </mat-icon>Add</button>
   </div>
  <table >
    <thead>
      <tr>
        <th>Slno</th>
        <th>Date</th>
        <th>Run Time</th>
        <th>Options</th>
      </tr>
      <tr *ngFor="let element of mpData1;let i=index;" >
          <td>{{(i+1)}}</td>
          <td >{{element.date}}</td>
          <td >{{element.time}}</td>
          <td>  <button   mat-icon-button style="margin-right: 10px;backface-visibility: hidden;"  (click)="open(add);editMeachineparts(element._id);updatebtn()"> <mat-icon>edit</mat-icon></button>
           <button  mat-icon-button   (click)="deleteMeachineparts(element._id)">
             <mat-icon>delete</mat-icon></button></td>
     </tr>
    </thead>
   </table>
</mat-tab>
<mat-tab label="Store Room">
  <div class="input-group searchkey col-md-7" style="margin-left:35px;max-width:95%"  >

    <button style="margin-left:93%"  (click)="open(add1);subbtn();"   mat-raised-button color="primary"><mat-icon style="padding-right: 10px;" >add_circle </mat-icon>Add</button>
   </div>
  <table >
    <thead>
      <tr>
        <th>Slno</th>
        <th>Part Name</th>
        <th>Quantity</th>
        <th>Options</th>
      </tr>
      <tr *ngFor="let element of storeData;let i=index;" >
          <td>{{(i+1)}}</td>
          <td >{{element.part}}</td>
          <td >{{element.qn}}</td>
          <td>  <button   mat-icon-button style="margin-right: 10px;backface-visibility: hidden;"  (click)="open(add);editMeachineparts(element._id);updatebtn()"> <mat-icon>edit</mat-icon></button>
           <button  mat-icon-button   (click)="deleteMeachineparts(element._id)">
             <mat-icon>delete</mat-icon></button></td>
     </tr>
    </thead>
   </table>
</mat-tab>
</mat-tab-group>

   
<ng-template #add let-modal>
  <form class="form-horizontal" [formGroup]="mpForm" novalidate>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Details</h4>
      <button type="button"  style="border:0px;background-color: #fff;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <div class="col-md-4">
          <label class="col-form-label" > Factory*</label>
        <select class="form-control" formControlName="factory" [ngClass]="{ 'is-invalid': mpFormSubmitted && n.factory.errors}">
          <option [value]="null" disabled>Select a Value</option>
          <option value=95 >95mm</option>
          <option  value=65 >65mm</option>
        </select>
        <div *ngIf="mpFormSubmitted && n.factory.errors" class="invalid-feedback">
          <div *ngIf="n.factory.errors.required">Factory   is required</div>
        </div>
        </div>
          <div class="col-md-4">
            <label class="col-form-label" > Meachine Parts *</label>
            <input class="form-control" style="  min-width: 40px;" type="date" name="mmMaterial" placeholder="Meachine Parts" formControlName="date" [ngClass]="{ 'is-invalid': mpFormSubmitted && n.date.errors}">
            <div *ngIf="mpFormSubmitted && n.date.errors" class="invalid-feedback">
             <div *ngIf="n.date.errors.required">Date   is required</div>
           </div>
          </div>
          <div class="col-md-4">
            <label class="col-form-label" >Max Time *</label>
            <input class="form-control" type="number" name="Max" placeholder="Max Time"  formControlName="time" [ngClass]="{ 'is-invalid': mpFormSubmitted && n.time.errors}">
            <div *ngIf="mpFormSubmitted && n.time.errors" class="invalid-feedback">
             <div *ngIf="n.time.errors.required"> Time is required</div>
           </div>
          </div>
          </div>
        
          <div class="modal-footer">
            <button  mat-raised-button   style="background-color:#d1dfd4fb;margin-right: 10px;"  (click)="modal.dismiss('Cross click');initialiseForm()">Cancel</button>
            <button  *ngIf="sub"  mat-raised-button color="primary"  type="submit" (click)="saveOrSubmitmpForm(modal);" >Submit</button>
            <button  *ngIf="update"  mat-raised-button color="primary"  type="submit" (click)="updateMeachineparts(modal);" >Update</button>
          </div>
          </div>
        </form>
        </ng-template>


        <ng-template #add1 let-modal>
          <form class="form-horizontal" [formGroup]="storeForm" novalidate>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Details</h4>
              <button type="button"  style="border:0px;background-color: #fff;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                  <div class="col-md-4">
                    <label class="col-form-label" >  Part Name *</label>
                    <input class="form-control" style="  min-width: 40px;" type="text" placeholder=" Part Name" formControlName="part" [ngClass]="{ 'is-invalid': storeFormSubmitted && c.part.errors}">
                    <div *ngIf="storeFormSubmitted && c.part.errors" class="invalid-feedback">
                     <div *ngIf="c.part.errors.required">Part Name   is required</div>
                   </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label" >Quantity *</label>
                    <input class="form-control" type="number"  placeholder="Quantity"  formControlName="qn" [ngClass]="{ 'is-invalid': storeFormSubmitted && c.qn.errors}">
                    <div *ngIf="storeFormSubmitted && c.qn.errors" class="invalid-feedback">
                     <div *ngIf="c.qn.errors.required"> Quantity is required</div>
                   </div>
                  </div>
                  </div>
                
                  <div class="modal-footer">
                    <button  mat-raised-button   style="background-color:#d1dfd4fb;margin-right: 10px;"  (click)="modal.dismiss('Cross click');storeFormFn()">Cancel</button>
                    <button  *ngIf="sub"  mat-raised-button color="primary"  type="submit" (click)="saveOrSubmitmpForm1(modal);" >Submit</button>
                    <button  *ngIf="update"  mat-raised-button color="primary"  type="submit" (click)="updateMeachineparts(modal);" >Update</button>
                  </div>
                  </div>
                </form>
                </ng-template>

        <dialog  class=" delete"id="delete">
        <h4> Delete The Selected Data?</h4>
        <button  mat-raised-button color="warn"  onclick="window.delete.close();" style="margin-right: 10px;">Yes</button>
        <button  mat-raised-button color="primary" onclick="window.delete.close();">Cancel</button>

