
 <div  *ngIf="usedat.permission !='superadmin'" style="text-align:center; margin-bottom: 0px; margin-top: 10%;" >
  <h1  style="color: red;"> ACCESS DENIED </h1>
</div>
<div  class="main" *ngIf="usedat.permission =='superadmin'">  
 <h1 style="margin-top: 10px;  text-align:center;">Main CASH BOOK</h1>
 <!-- Button trigger modal -->

<p style="margin-top:0px;margin-bottom:0px;margin-left:30px"><mark>Note:</mark> Delete/Update/edit VEHICLE EXPENSE and OTHER EXPENSE in their respective screen</p>
<div class="input-group searchkey col-md-7" style="margin-top: 10px; margin-bottom: 10px; ">
<h4 style="margin-left:30px" *ngIf="Total !=0">Total Amount:<mark>{{Total}}</mark></h4>
<div class="input-group searchkey col-md-7"  style="margin-left:20px">

  <input placeholder="From Date" style=" max-width:20% " onfocus="(this.type='date')" type="text" class="form-control" onblur="(this.type='text')"  [(ngModel)]="srt"  >
  <input placeholder="To Date" style=" max-width:20%"  onfocus="(this.type='date')" type="text"class="form-control"  onblur="(this.type='text')"  [(ngModel)]="end"  >
  <button type="submit"   mat-raised-button color="primary" (click)=" getCashbookData()">
    X
</button>
  <button type="submit"  mat-raised-button color="primary"  (click)="srch();">
    <mat-icon>search</mat-icon>
  </button>
 <button  style="margin-left:90%;" (click)="open(add);subbtn();" mat-raised-button color="primary"><mat-icon style="padding-right: 10px;" >add_circle </mat-icon>Add</button> 
 </div>
</div>
 <table >
  <thead>
    <tr>
      <th>ID</th>
      <th >Date</th>
      <th > Particulars</th>
      <th >Bill No</th>
      <th>Amount</th>
      <th>Options</th>
    </tr>
    <tr *ngFor="let element of cashData let i=index;" >
        <td>{{(i+1)}}</td>
        <td >{{element.date| date : 'dd-MM-yyyy'}}</td>
        <td >{{element.parts}}</td>
        <td>{{element.bill}}</td>
        <td>{{element.amount}}</td>
        <td style="max-width:30px">  <button   mat-icon-button style="margin-right: 10px;backface-visibility: hidden;"  (click)="open(add);editCash(element._id);updatebtn()"> <mat-icon>edit</mat-icon></button>
          <button  mat-icon-button   (click)="deleteCash(element._id)">
            <mat-icon>delete</mat-icon></button></td>
    </tr>
  </thead>
</table>


<ng-template #add let-modal>
  <form class="form-horizontal" [formGroup]="cashForm" novalidate>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Details</h4>
    <button type="button"  style="border:0px;background-color: #fff;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
        <div class="col-md-4">
          <label class="col-form-label" > Date *</label>
          <input class="form-control" type="date"  placeholder="Date"formControlName="date" [ngClass]="{ 'is-invalid': cashFormSubmitted && n.date.errors}">
          <div *ngIf="cashFormSubmitted && n.date.errors" class="invalid-feedback">
           <div *ngIf="n.date.errors.required">date is required</div>
         </div>
        </div>
        <div class="col-md-4">
          <label class="col-form-label" > Particulars *</label>
          <input class="form-control" type="text" name="parts" placeholder="parts"formControlName="parts" [ngClass]="{ 'is-invalid': cashFormSubmitted && n.parts.errors}">
          <div *ngIf="cashFormSubmitted && n.parts.errors" class="invalid-feedback">
           <div *ngIf="n.parts.errors.required">Particulars is required</div>
         </div>
        </div>
          <div class="col-md-4">
            <label class="col-form-label" >  Bill no*</label>
            <input class="form-control" type="string"   name="Bill"placeholder="Bill No"formControlName="bill" [ngClass]="{ 'is-invalid': cashFormSubmitted && n.bill.errors}">
            <div *ngIf="cashFormSubmitted && n.b.errors" class="invalid-feedback">
             <div *ngIf="n.b.errors.required">Bill No is required</div>
            </div>
            </div>
            <div class="form-group row">
            <div class="col-md-4">
                <label class="col-form-label" > Amount*</label>
                <input class="form-control" type="number"   name="Bill"placeholder="Bill No"formControlName="amount" [ngClass]="{ 'is-invalid': cashFormSubmitted && n.amount.errors}">
                <div *ngIf="cashFormSubmitted && n.amount.errors" class="invalid-feedback">
                 <div *ngIf="n.amount.errors.required">Amount is required</div>
                </div>
                
              </div>
              </div>
        <div class="modal-footer">
          <button  mat-raised-button   style="background-color:#d1dfd4fb;margin-right: 10px;"  (click)="modal.dismiss('Cross click');initialiseForm()">Cancel</button>
          <button  *ngIf="sub"  mat-raised-button color="primary"  type="submit" (click)="saveOrSubmitcashForm(modal);" >Submit</button>
          <button  *ngIf="update"  mat-raised-button color="primary"  type="submit" (click)="updateCash(modal);" >Update</button>
        </div>
        </div>
      </div>
      </form>
      </ng-template>
  </div>
<dialog  class=" delete"id="delete">
<h4> Delete The Selected Data?</h4>
<button  mat-raised-button color="warn"  onclick="window.delete.close();" style="margin-right: 10px;">Yes</button>
<button  mat-raised-button color="primary" onclick="window.delete.close();">Cancel</button>

